@using ProjetoEcommerce.Dominio.Entidades.Seguranca
@model System.Collections.Generic.List<Formulario>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarTodos</title>
</head>
<body>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Descrição</td>
                    <td>URL</td>
                    <td>Status</td>
                    <td>Usuário</td>
                    <td>Criado Em</td>
                    <td>Atualizado Em</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FormularioID</td>
                        <td>@item.Descricao</td>
                        <td>@item.URL</td>
                        <td>@item.Status</td>
                        <td>@item.Usuario</td>
                        <td>@item.CriadoEm</td>
                        <td>@item.AtualizadoEm</td>
                        <td>
                            <a class="btnDelete" href="#" onclick="myFunction('@Url.Action("Delete","Formulario", new { id = item.FormularioID })')">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    function myFunction(url) {
        $.ajax({
            method: "POST",
            url: url,
        })
    }


</script>
