@using ProjetoEcommerce.Dominio.Entidades.Seguranca
@model System.Collections.Generic.IEnumerable<FormularioGrupo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Listas";
}


<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Incluir", "FormularioGrupo")">
        <i class="fa fa-plus"></i>
        INCLUIR
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Descrição</td>
            <td>URL</td>
            <td>Status</td>
            <td>Usuário</td>
            <td>Criado Em</td>
            <td>Atualizado Em</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>@item.Formulario.FormularioID</td>
                <td>@item.GrupoDeAcesso.Descricao</td>
                <td>@item.Usuario</td>
                <td>@item.CriadoEm</td>
                <td>@item.AtualizadoEm</td>
                <td>
                    <a class="btnDelete" href="@Url.Action("Delete","FormularioGrupo", new { FormID = item.FormularioID, item.GrupoID })">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
