@model ProjetoEcommerce.ViewModels.Perfil.AutenticacaoViewModel
@{
    ViewBag.Title = "Entrar";
    ViewBag.ShowMenu = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            @using (Html.BeginForm("EntrarConfirm", "Autenticacao", FormMethod.Post, new { @class = "form-signin" }))
            {
                <div class="text-center mb-4">
                    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">E-commerce SIF</h1>
                    <p>The fastest e-commerce alive</p>
                </div>

                <div class="form-label-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <div class="form-label-group">
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-label-group">
                    @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <div class="alert alert-danger" role="alert">
                    Usuário e/ou senha incorretos
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Acessar
                </button>

            }
        </div>
    </div>

</div>
