@model ProjetoEcommerce.Dominio.Entidades.Pagamento.BandeiraCartao
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Detalhes de Bandeira de Cartão";
}

    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Voltar","Index",null,new { @class="btn btn-dark",@style="margin:1em 0em 1em 0em" })
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">@Model.BandeiraCartaoID</th>
            </tr>
            <tr>
                <th scope="row">Descrição</th>
                <td>@Model.Descricao</td>

            </tr>
            <tr>
                <th scope="row">Ícone</th>
                
                <td>
                    <img src="@Model.IconeUrl" alt="Bandeira de @Model.Descricao" class="img-fluid"/><br />
                @Model.IconeUrl
                </td>

            </tr>
            <tr>
                <th scope="row">Criado em</th>
                <td>@Model.CriadoEm</td>

            </tr>
            <tr>
                <th scope="row">Atualizado em</th>
                <td>@Model.AtualizadoEm</td>

            </tr>
            <tr>
                <th scope="row">Usuário</th>
                <td>@Model.Usuario</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>@Model.Status</td>
            </tr>
        </tbody>
    </table>

