@model IEnumerable<ProjetoEcommerce.Dominio.Entidades.Pagamento.BandeiraCartao>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Bandeiras de Cartão";
}

<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Incluir", "BandeiraCartao")">
        <i class="fa fa-plus"></i>
        Incluir
    </a>
</div>

<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Descrição</th>
            <th>Criado Em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descricao</td>
                <td>@item.CriadoEm</td>
                <td>
                    <a href="@Url.Action("Editar", "BandeiraCartao", new { id = item.BandeiraCartaoID })" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Excluir", "BandeiraCartao", new { id = item.BandeiraCartaoID })" class="btn btn-danger btn-sm">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
