@model IEnumerable<ProjetoEcommerce.Dominio.Entidades.Marketplace.RastreioViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRastreio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoRastreio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinatarioRastreio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRastreio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoRastreio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPacote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinatarioRastreio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdRastreio /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdRastreio /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdRastreio /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
