@using ProjetoEcommerce.Dominio.Entidades.Pagamento
@using ProjetoEcommerce.Models.ViewModels
@model PagarCartaoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Método de pagamento";

    ViewBag.ShowMenu = true;
    ViewBag.UsuarioLogado = true;
    ViewBag.Usuario = Model.Usuario.Nome;
    ViewBag.SaldoCarteira = Model.Usuario.Carteira.Saldo;
}
    <div class="w-75 float-left">
        @if (Model.Usuario.CartoesUsuario.Count > 0)
        {

        }
        else
        {
            <h3 class="font-weight-normal">Opa, parece que você não tem nenhum cartão cadastrado!</h3>
            <h4 class="font-weight-light">Sem problemas, cadastre um agora:</h4>
            using (Html.BeginForm("CartaoSucesso", "Pagar", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="inputAddress">UsuarioID</label>
                    @Html.TextBoxFor(modelItem => Model.Cartao.UsuarioID, new { @class = "form-control ", @placeholder = "Digite o ID de usuário do cartão" })
                </div>
                <div class="form-group">
                    <label for="inputAddress">BandeiraCartaoID</label>
                    @Html.TextBoxFor(modelItem => Model.Cartao.BandeiraCartaoID, new { @class = "form-control", @placeholder = "Digite o ID da bandeira do cartão" })
                </div>
                <div class="form-group">
                    <label for="inputAddress">NomeTitular</label>
                    @Html.TextBoxFor(modelItem => Model.Cartao.NomeTitular, new { @class = "form-control", @placeholder = "Titular do cartão" })
                </div>
                <div class="form-group">
                    <label for="inputAddress">Número</label>
                    @Html.TextBoxFor(modelItem => Model.Cartao.Numero, new { @class = "form-control", @placeholder = "Número do cartão" })
                </div>
                <div class="form-group ">
                    <label for="inputAddress">Vencimento</label>
                    @Html.TextBoxFor(modelItem => Model.Cartao.Vencimento, new { @class = "form-control", @placeholder = "MM/AA" })
                </div>
                <div class="form-group ">
                    <label for="inputAddress">CVC</label>
                    @Html.TextBoxFor(modelItem => Model.Cartao.CVC, new { @class = "form-control", @placeholder = "Digite o CVC do cartão" })
                </div>
                <a href="@Url.Action("Metodo","Pagar",new { id=Model.Usuario.UsuarioID-1})" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
                <input type="submit" value="SALVAR" class="btn btn-success btn-block w-50 float-lg-right" />
            }
            <br /><br /><br />

        }

    </div>
<div class="w-25 float-right">
    <h3 class="font-weight-normal"></h3>
    <h4 class="font-weight-light">Sem probelemas, cadastre um agora:</h4>
</div>
