@using ProjetoEcommerce.Dominio.Entidades.Pagamento
@using ProjetoEcommerce.Models.ViewModels
@model MetodoPagamentoViewModel
@{
    ViewBag.Title = "Método de pagamento";
    int i = 1;
    ViewBag.ShowMenu = true;

}
    
    <h3 class="text-center">Método de pagamento</h3>


<div id="accordion" class="float-left" style=" margin-top:10px; width:49%; margin-right:1%;padding-right: 1%; height:90%; border-right:1px solid rgb(230, 230, 230)">
    @foreach (var item in Model.ListaProdutos)
    {
        <div class="card text-white bg-primary" style="margin-bottom:0.4em">
            <div class="card-header" style="max-height:10em" id="@("heading" + i.ToString())">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white collapsed" data-toggle="collapse" data-target="@("#collapse" + i.ToString())" aria-expanded="false" aria-controls="@("collapse" + i.ToString())">
                        <div class="float-left">
                            @item.Nome
                            (@item.Quantidade)

                        </div>



                    </button>
                    @if (i == 1)
                    {
                        <span class="float-right" style="font-size:10pt; margin-top:0.7em">R$@item.PrecoTotal</span>
                    }
                    else
                    {
                        <span class="float-right" style="font-size:10pt;margin-top:0.7em">+ R$@item.PrecoTotal</span>
                    }
                </h5>
            </div>
            <div id="@("collapse" + i.ToString())" class="collapse" aria-labelledby="@("heading" + i.ToString())" data-parent="#accordion">
                <div class="card-body bg-white">
                    <img src="@item.UrlImagem" alt="Imgem do Produto @item.Nome " class="img-thumbnail float-left" style="height:50%; width:50%; object-fit: contain; margin-top:1em;margin-bottom:1em">
                    <p style="width:49%; margin-top:25%;margin-bottom:25%" class="text-center text-dark float-right">@item.DescricaoProduto</p>
                    <table class="table" style="border-top:hidden">
                        <thead>
                            <tr><th></th><th></th><th></th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Preço</td><td></td><td>@item.Preco</td></tr>
                            <tr><td>Quantidade</td><td style="text-align:right"></td><td>@item.Quantidade</td></tr>
                            <tr><th>Preço total</th><td></td><th>@item.PrecoTotal</th></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        i++;
    }
    <hr style="margin-top:10px;margin-bottom:10px;" />
    <div class="card text-white bg-info mb-3">
        <div class="card-header">Você vai pagar: <div class="float-right" style="font-size:12pt;"><b>R$@Model.PrecoTotalVenda</b></div></div>
    </div>
</div>

<div id="accordion" class="float-right" style=" margin-top:10px; width:49%; margin-right:1%;padding-right: 1%; height:90%;">
    
        <div class="card" style="margin-bottom:0.4em">
            <div class="card-header" style="max-height:10em" id="HeadingBoleto">
                <h5 class="mb-0">
                    <button class="btn btn-link text-dark collapsed" data-toggle="collapse" data-target="#collapseBoleto" aria-expanded="false" aria-controls="collapseBoleto">
                        <div class="float-left">
                            Cartão de crédito
                        </div>
                    </button>
                </h5>
            </div>
            <div id="collapseBoleto" class="collapse" aria-labelledby="HeadingBoleto" data-parent="#accordion">
                <div class="card-body bg-white">

                    @using (Html.BeginForm("Pagar", "PagamentoCartao", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(c => c.Cartao.NomeTitular, new { @class = "form-control", @placeholder = "Nome do Titular" })

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(c => c.Cartao.Numero, new { @class = "form-control", @placeholder = "Número do cartão" })

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(c => c.Cartao.CVC, new { @class = "form-control float-left", @placeholder = "CVC", @style = "width:49%;margin-bottom: 1em" })

                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(c => c.Cartao.Vencimento, new { @class = "form-control float-right", @placeholder = "Vencimento", @style = "width:49%;margin-bottom: 1em" })

                        </div>
                        <div class="form-group">

                        <input type="submit" value="Confirmar" class="btn btn-primary" style="clear:both" />
                        </div>
                    }
                </div>
            </div>
        </div>
</div>

<div class="clearfix"></div>