@using ProjetoEcommerce.Dominio.Entidades.Relatorio
@model System.Collections.Generic.IEnumerable<Usuario>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Usuarios";
}
<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Incluir", "Usuario")">
        <i class="fa fa-plus"></i>
        INCLUIR
    </a>
</div>

<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Incluir", "Usuario")">
        <i class="fa fa-plus"></i>
        INCLUIR
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Usuario ID</th>
            <th>Usuário</th>
            <th>Status</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UsuarioID</td>
                <td>@item.NomeUsuario</td>
                <td>@item.Status</td>
                <td>@item.CriadoEm</td>
                <td>@item.AtualizadoEm</td>
            </tr>
        }
    </tbody>
</table>