@using ProjetoEcommerce.Dominio.Entidades.Entrega
@model System.Collections.Generic.List<Estado>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Estado";
}

<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Adicionar", "Estado")">
        <i class="fa fa-plus"></i>
        Adicionar
    </a>
</div>

<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Sigla</th>
            <th>Nome</th>
            <th>CriadoEm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Sigla</td>
                <td>@item.Nome</td>
                <td>@item.CriadoEm</td>
                <td>
                    <a href="#" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Deletar", "Estado", new { id = item.EstadoID, usuario = "admin" })" class="btn btn-danger btn-sm">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
