@using ProjetoEcommerce.Dominio.Entidades
@model System.Collections.Generic.List<Categoria>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarTodas</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>

            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.CategoriaID</td>
                        <td>@item.Nome</td>
                        <td>@item.Status</td>
                        <td>@item.Usuario</td>
                        <td>@item.CriadoEm</td>
                        <td>@item.AtualizadoEm</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
