@model IEnumerable<ProjetoEcommerce.Dominio.Entidades.Entrega.Rua>

@{
    ViewBag.Title = "ListarTodos";
}

<h2>ListarTodos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtualizaEm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriadoEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AtualizaEm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RuaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RuaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RuaID })
        </td>
    </tr>
}

</table>
