@using ProjetoEcommerce.Dominio.Entidades.Relatorio
@model System.Collections.Generic.List<TipoCampo>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarTodos</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Tipo Campo ID</th>
                    <th>Descrição</th>
                    <th>Usuário</th>
                    <th>Status</th>
                    <th>Criado em</th>
                    <th>Atualizado em</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TipoCampoID</td>
                        <td>@item.Descricao</td>
                        <td>@item.Usuario</td>
                        <td>@item.Status</td>
                        <td>@item.CriadoEm</td>
                        <td>@item.AtualizadoEm</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>