@using ProjetoEcommerce.Dominio.Entidades.Relatorio
@model System.Collections.Generic.List<Campo>


@{
Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Campos";
}

    <div class="admin-titulo-principal">
        @ViewBag.Title
        <a class="btn btn-success btn-sm float-right" href="@Url.Action("Incluir", "Campo")">
            <i class="fa fa-plus"></i>
            INCLUIR
        </a>
    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Usuario</th>
            <th>Status</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
            <th>Tipo Campo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CampoID</td>
            <td>@item.Nome</td>
            <td>@item.Usuario</td>
            <td>@item.Status</td>
            <td>@item.CriadoEm</td>
            <td>@item.AtualizadoEm</td>
            <td>@item.TipoCampoID</td>
        </tr>
        }
    </tbody>
</table>
