
@{
    ViewBag.Title = "Pagamento";
}
<style>
    h1 {
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 28pt;
    }

    #Crud {
        width: 49%;
        border-right: 1px solid black;
    }

        #Crud table {
            margin: auto;
        }

            #Crud table tr td {
                padding: 0.3em;
            }

    #PagamentoDemo {
        width: 49%;
    }


    #Grupo {
        clear: both;
        width: 50%;
        margin: auto;
        position: absolute;
        left: 5%;
        bottom: 10%
    }

        #Grupo table tr td {
            padding: 1em;
        }

        #Grupo table {
            margin: auto;
            border-left: 1px solid rgba(128, 128, 128,11)
        }

    .TituloIn {
        padding-bottom: 0.5em
    }

    #PagamentoDemo td {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        max-width:25%;
    }
     #PagamentoDemo table tr td{
         text-align:center;
     }
</style>

@section scripts{
    <script>
        $("h1").addClass("text-sm-center font-weight-light")
        $("#Crud").addClass("float-left")
        $("#Crud table tr td a").addClass("font-weight-light btn btn-block btn-dark")
        $("#PagamentoDemo").addClass("float-right")
        $("#Crud table").addClass("text-center")
        $("h2").addClass("text-center font-weight-light TituloIn")
        $("#Grupo table tr td p").addClass("font-weight-light")
        $("#PagamentoDemo table tr td a").addClass("btn btn-dark btn-block")
        $("#PagamentoDemo table tr td p").addClass("font-weight-normal")
        $("#PagamentoDemo table tr td a i").addClass("fa fa-arrow-right")
    </script>
}
<h1>@ViewBag.Title</h1>

<div id="Crud">
    <h2>CRUDs</h2>
    <table>
        <tbody>
            <tr>
                <td><a href="@Url.Action("Index","StatusPagamento",null)">StatusPagamento</a></td>
                <td><a href="@Url.Action("Index","MetodoPagamento",null)">MetodoPagamento</a></td>
                <td><a href="@Url.Action("Index","Cartao_Tipo",null)">Cartao_Tipo</a></td>
            </tr>
            <tr>
                <td><a href="@Url.Action("Index","BandeiraCartao",null)">BandeiraCartao</a></td>
                <td><a href="@Url.Action("Index","Boleto",null)">Boleto</a></td>
                <td><a href="@Url.Action("Index","Cartao",null)">Cartao</a></td>

            </tr>
            <tr>
                <td><a href="@Url.Action("Index","Carteira",null)">Carteira</a></td>
                <td><a href="@Url.Action("Index","Pagamento",null)">Pagamento</a></td>
                <td><a href="@Url.Action("Index","TipoCartao",null)">TipoCartao</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="PagamentoDemo">
    <h2>Demonstração de Pagamento</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <p> Sem cartões, com carteira de R$5000.</p>
                    <a href="@Url.Action("Metodo", "Pagar", new { id = 0 })"><i></i></a>
                </td>
                <td>
                    <p>Um cartão, R$4000 na carteira. </p>
                    <a href="@Url.Action("Metodo", "Pagar", new { id = 1 })"><i></i></a>
                </td>
                <td>
                    <p>Três cartões, R$500 na carteira. </p>
                    <a href="@Url.Action("Metodo", "Pagar", new { id = 2 })"><i></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="Grupo">
    <table>
        <tr>
            <td>
                <p>Gabriel Valeriano Gomes</p>
                <p>037069</p>
            </td>
            <td>
                <p>Luan Chrystian Galan</p>
                <p>000000</p>
            </td>
            <td>
                <p>Matheus Henrique Lourenço Campos</p>
                <p>000000</p>
            </td>
        </tr>

    </table>

</div>

