@model ProjetoEcommerce.Dominio.Entidades.Pagamento.MetodoPagamento
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Detalhes de Método de Pagamento";
}

    <h2>@ViewBag.Title</h2>
@Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-dark", @style = "margin:1em 0em 1em 0em" })
<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">@Model.MetodoPagamentoID</th>
        </tr>
        <tr>
            <th scope="row">Descrição</th>
            <td>@Model.Descricao</td>

        </tr>
        <tr>
            <th scope="row">Ícone do FontAwesome</th>
            <td><i class="@Model.FA"></i> @Model.FA</td>

        </tr>
        <tr>
            <th scope="row">>Action do controlador de pagamento</th>
            <td>@Model.Action</td>

        </tr>
        <tr>
            <th scope="row">Criado em</th>
            <td>@Model.CriadoEm</td>

        </tr>
        <tr>
            <th scope="row">Atualizado em</th>
            <td>@Model.AtualizadoEm</td>

        </tr>
        <tr>
            <th scope="row">Usuário</th>
            <td>@Model.Usuario</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>@Model.Status</td>
        </tr>
    </tbody>
</table>