@model ProjetoEcommerce.Dominio.Entidades.Entrega.Ceps

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<div>
    <h4>Ceps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CidadeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CidadeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BairroID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BairroID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtualizaEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtualizaEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
