@model ProjetoEcommerce.ViewModels.SexoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SexoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtualizadoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtualizadoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDSexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
