@model IEnumerable<ProjetoEcommerce.ViewModels.SexoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Gênero";
}

<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Create", "Sexo")">
        <i class="fa fa-plus"></i>
        INCLUIR
    </a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Sexo", new { id = item.IDSexo })" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a href="@Url.Action("Details", "Sexo", new { id=item.IDSexo })" class="btn btn-info btn-sm" title="Detalhes">
                    <i class="fa fa-info-circle"></i>
                </a>
                <a href="@Url.Action("Delete", "Sexo", new { id = item.IDSexo })" class="btn btn-danger btn-sm" title="Desativar">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
    }

</table>
