@model ProjetoEcommerce.Dominio.Entidades.Pagamento.Cartao

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
}

@using (Html.BeginForm("Criar", "Cartao", FormMethod.Post))
{
    <div class="form-group">
        <label for="inputAddress">UsuarioID</label>
        @Html.TextBoxFor(modelItem => Model.UsuarioID, new { @class = "form-control", @placeholder = "Digite o ID de usuário do cartão" })
    </div>
    <div class="form-group">
        <label for="inputAddress">Número</label>
        @Html.TextBoxFor(modelItem => Model.Numero, new { @class = "form-control", @placeholder = "Digite o Numero do cartão" })
    </div>
    <div class="form-group">
        <label for="inputAddress">Vencimento</label>
        @Html.TextBoxFor(modelItem => Model.Vencimento, new { @class = "form-control", @placeholder = "Digite a data de vencimento do cartão" })
    </div>
    <div class="form-group">
        <label for="inputAddress">CVC</label>
        @Html.TextBoxFor(modelItem => Model.CVC, new { @class = "form-control", @placeholder = "Digite o CVC do cartão" })
    </div>
    <div class="form-group">
        <label for="inputAddress">NomeTitular</label>
        @Html.TextBoxFor(modelItem => Model.NomeTitular, new { @class = "form-control", @placeholder = "Digite o nome do Titular do cartão" })
    </div>
    <div class="form-group">
        <label for="inputAddress">BandeiraCartaoID</label>
        @Html.TextBoxFor(modelItem => Model.BandeiraCartaoID, new { @class = "form-control", @placeholder = "Digite o ID da bandeira do cartão" })
    </div>

    <input type="submit" value="SALVAR" class="btn btn-success btn-block" />
}

