@using ProjetoEcommerce.Dominio.Entidades.Entrega
@model System.Collections.Generic.List<Endereco>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Endereço";
}

<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Adicionar", "Endereco")">
        <i class="fa fa-plus"></i>
        Adicionar
    </a>
</div>

<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>CEP</th>
            <th>Complemento</th>
            <th>Numero</th>
            <th>CriadoEm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CEP</td>
                <td>@item.Complemento</td>
                <td>@item.Numero</td>
                <td>@item.CriadoEm</td>
                <td>
                    <a href="@Url.Action("Editar", "Endereco", new { Endereco = item.EnderecoID })" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Deletar", "Endereco", new { id = item.EnderecoID, usuario = "Admin" })" class="btn btn-danger btn-sm">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
