@using ProjetoEcommerce.Dominio.Entidades.Entrega
@model System.Collections.Generic.List<Cidade>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Cidade";
}

<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Adicionar", "Cidade")">
        <i class="fa fa-plus"></i>
        Adicionar
    </a>
</div>

<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Criado Em</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.CriadoEm</td>
                <td>
                    <a href="@Url.Action("Editar", "Cidade", new { tipoCartaoId = item.CidadeID })" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Deletar", "Cidade", new { id = item.CidadeID, usuario = "admin"})" class="btn btn-danger btn-sm">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
