@model List<ProjetoEcommerce.Dominio.Entidades.Carrinho.CarrinhoProduto>

@using (Html.BeginForm("Remover", "Carrinho", FormMethod.Post))
{
    <table class="table">
        <thead class="produto-thead">
            <tr>
                <th class="produto-th">Nome</th>
                <th class="produto-th">Preco</th>
                <th class="produto-th">Quantidade</th>
                <th class="produto-th">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                //@Html.HiddenFor(item => item[i].ProdutoID)
                <tr>
                    <td class="form-group produto-td" style="vertical-align:middle;">
                        <div class="form-group" style="display:flex; margin-bottom:0">
                            <img src="@Model[i].Produto.Imagem" style="width:60px" />
                            <div style="display:flex;">
                                <span style="margin-left:10px">
                                    @Html.DisplayFor(item => item[i].Produto.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="form-group produto-td" style="vertical-align:middle;">
                        <div class="form-group">
                            <div class="">
                                @Html.DisplayFor(item => item[i].Produto.Preco, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </td>
                    <td class="form-group produto-td" style="vertical-align:middle;">
                        <div class="form-group">
                            <div class="">
                                @Html.EditorFor(item => item[i].Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </td>
                    <td class="form-group produto-td" style="vertical-align:middle;">
                        <div class="form-group" style="color: red;text-align: center">
                            <button type="button" data-action="Remover" class="btn btn-default" data-vitor="@Model[i].CarrinhoProdutoID">
                                <span>Remover</span>
                            </button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}

<script>
    $(document).on('click', 'button[data-action="Remover"]', function (e) {
        const $self = $(this);
        let carrinhoProdutoId = $self.data("vitor");
        const url = '@Url.Action("Remover", "Carrinho")' + '?CarrinhoProdutoID=' + carrinhoProdutoId;

        fetch(url)
            .then((response) => { console.log(response); return response.json(); })
            .then((result) => {
                console.log(result);
                if (result.status === 1) {
                    //window.location.href = window.location.href;
                    $self.parent().parent().parent().remove()
                }
                else {
                    alert(result.message);
                }
            });
        e.stopImmediatePropagation();
    });
</script>
