@model ProjetoEcommerce.ViewModels.BairroViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>BairroViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(f => f.BairroID)
    @Html.HiddenFor(f => f.Status)
    @Html.HiddenFor(f => f.CriadoEm)
    @Html.HiddenFor(f => f.AtualizaEm)
    @Html.HiddenFor(f => f.Usuario)

    <div class="form-group">
        @Html.LabelFor(model => model.CidadeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CidadeID,
                        new SelectList(Model.Cidades, "CidadeID", "Nome"),
                        "Selecione Uma Cidade", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CidadeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
