@using ProjetoEcommerce.Dominio.Entidades.Relatorio
@model System.Collections.Generic.IEnumerable<CampoRelatorio>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Manutenção de Relatório de Campos";
}


<div class="admin-titulo-principal">
    @ViewBag.Title
    <a class="btn btn-success btn-sm float-right" href="@Url.Action("Incluir", "CampoRelatorio")">
        <i class="fa fa-plus"></i>
        INCLUIR
    </a>
</div>

<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Relatorio ID</th>
            <th>Campo ID</th>
            <th>Usuario</th>>
            <th>Status</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RelatorioID</td>
                <td>@item.CampoID</td>
                <td>@item.Usuario</td>
                <td>@item.Status</td>
                <td>@item.CriadoEm</td>
                <td>@item.AtualizadoEm</td>
                <td>
                    <a href="@Url.Action("Excluir", "Relatorio" , new { item.RelatorioID, item.CampoID })" class="btn btn-danger btn-sm">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
