@model ProjetoEcommerce.Dominio.Entidades.Pagamento.Carteira
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = true;
    ViewBag.Title = "Detalhes";
}

<div style="margin-bottom:5px; margin-top:10px">
    <a href="/Carteira/Index">Voltar à lista</a>
</div>

<p class="h1">Carteira #@Model.CarteiraID</p>
<table style="margin-left:100px; width:25%">
    <tbody>
        <tr>
            <th>
                Saldo
            </th>
            <td>
                @Model.Saldo
            </td>
        </tr>
        <tr>
            <th>
                ID do Usuário
            </th>
            <td>
                @Model.UsuarioID
            </td>
        </tr>
        <tr>
            <th>
                Atualizada em
            </th>
            <td>
                @Model.AtualizadoEm
            </td>

        </tr>
        <tr>
            <th>
                Status
            </th>


            @if (Model.Status == 1)
            {
                <td>
                    Ativo
                </td>

            }
            else
            {
                <td>
                    Inativo
                </td>
            }

        </tr>
        <tr>
            <th>
                Usuario
            </th>
            <td>
                @Model.Usuario
            </td>
        </tr>
        <tr>
            <th>
                Criado em
            </th>
            <td>
                @Model.CriadoEm
            </td>
        </tr>


    </tbody>
</table>


