@using ProjetoEcommerce.Dominio.Entidades.Pagamento
@model List<Carteira>
@{
    ViewBag.Title = "ListAll";
}
<table class="table" style="width:50%; margin: 50px auto auto auto; ">
    <thead class="thead-dark;" style="background-color: #343a40; color:aliceblue">
        <tr>
            <th style="border-color: #454d55" scope="col">ID Usuário</th>
            <th style="border-color: #454d55"  scope="col">Saldo</th>
           <th style="border-color: #454d55" ></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if(item.Status != 0)
            {
                <tr>
                    <th scope="row">@item.UsuarioID</th>
                    <td>@item.Saldo</td>
                    <td>@Html.ActionLink("Detalhes", "Detalhes", new { id = item.CarteiraID })</td>
                </tr>

            }
            else
            {
                <tr style="background-color: red">
                    <th scope="row">@item.UsuarioID</th>
                    <td>@item.Saldo</td>
                    <td>@Html.ActionLink("Detalhes", "Detalhes", new { id = item.CarteiraID })</td>
                </tr>
            }
        }
    </tbody>
</table>
<a class="btn btn-default" href="@Url.Action("Criar","Carteira")" role="button">Criar</a>


